body {
    margin: 25px;
}

.pokedex {
    border: 2px solid black;
    height: auto;
    width: 231.6px;
    padding:15px;
    text-align: center;
}

.sprite-box,
.poke-info-box {
    border: 1px solid black;
    margin: 25px;
    padding: 5px;
}

.search-button {
    margin-top: 5px;
}

h4 {
    font-size: 1.3em;
}